<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Agregar Partido
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="AgregarPartido()" [disabled]="!formAgregarPartido.valid">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formAgregarPartido">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Equipos</ion-label>
            <ion-input type="text" 
              autocomplete
              autocorrect
              formControlName="pEquipos"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Id Partido</ion-label>
            <ion-input type="number" 
              autocomplete
              autocorrect
              formControlName="pIdPartido"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Faltas</ion-label>
            <ion-input type="text" 
              autocomplete
              autocorrect
              formControlName="pFaltas"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Tarjetas Amarillas</ion-label>
            <ion-input type="number" 
              autocomplete
              autocorrect
              formControlName="pTarjetasAmarillas"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Tarjetas Rojas</ion-label>
            <ion-input type="number" 
              autocomplete
              autocorrect
              formControlName="pTarjetasRojas"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Hora de Finalizacion</ion-label>
            <ion-input type="text" 
              autocomplete
              autocorrect
              formControlName="pHoraFinalizacion"
            >
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      
    </ion-grid>

  </form>
  
</ion-content>
