<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['./add' ]"><ion-icon name="add"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      Partidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="container">
    <ion-card *ngFor="let Partidos of partidos">
      <ion-item>
        <ion-icon name="football-outline"></ion-icon>
        <ion-label>{{ Partidos.IdPartido}}</ion-label>
        <ion-button fill="outline" slot="end" [routerLink]="['./', Partidos.IdPartido]">View</ion-button>
      </ion-item>
      <ion-card-content>
        
        <br>
        <p>Equipos: {{ Partidos.Equipos }}</p>
          <p>Goles: {{ Partidos.Goles }}</p>
          <p>IdPartido: {{ Partidos.IdPartido}}</p>
          <p>TarjetasAmarillas: {{ Partidos.TarjetasAmarillas}}</p>
          <p>TarjetasRojas: {{ Partidos.TarjetasRojas}}</p>
          <p>Faltas: {{ Partidos.Faltas}}</p>
          
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>