<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ partidos.IdPartido}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="deletePartido()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Hora de Finalizacion:</p>
  <div padding>{{partidos.HoraFinalizacion}} </div>
</ion-content>
