<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido a la App Futbolera
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <h2>Por favor dirijase  a la pagina de partidos</h2>
  <h3>Los mejores partidos solo en esta app</h3>
</ion-content>
